node_modules
.expo
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
web-build/
web-report/
.env
.env-prod
.env-development
.env-staging
.env-test
.firebase
dist/
lib/
generated/
database/config/*.json
graphqlserver/src/config/*.json
libraries/api/index.ts
webclient/src/libraries/api/index.ts
adminclient/src/libraries/api/index.ts
yarn-error.log
lerna-debug.log
.vscode
tmp/
infra/packed-nested-stacks.yml
